.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: transparent;
    transition: top 0.3s;
    z-index: 100;
}

.hidden {
    display: none !important;
}

.overlay.visible {
    background-color: rgba(0, 0, 0, 0.5);
}

@media (min-width: 992px) {
    .background {
        background-color: transparent !important;
    }
}
