<div class="py-4 px-4 mx-0 mt-8 lg:mx-8">
    <div class="grid">
        <div class="col-12">
            <div class="grid text-center md:text-left">
                <div class="col-12 md:col">
                    <h4 class="font-medium text-2xl line-height-3 mb-3 text-900">News</h4>
                    <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">About Us</a>
                    <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">News</a>
                    <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">Investor Relations</a>
                    <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">Careers</a>
                    <a class="line-height-3 text-xl block cursor-pointer text-700">Media Kit</a>
                </div>

                <div class="col-12 md:col mt-4 md:mt-0">
                    <h4 class="font-medium text-2xl line-height-3 mb-3 text-900">Theory</h4>
                    <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">Get Started</a>
                    <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">Learn</a>
                    <a class="line-height-3 text-xl block cursor-pointer text-700">Case Studies</a>
                </div>

                <div class="col-12 md:col mt-4 md:mt-0">
                    <h4 class="font-medium text-2xl line-height-3 mb-3 text-900">About us</h4>
                    <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">Discord</a>
                    <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">Events<img
                            src="assets/images/landing/new-badge.svg" class="ml-2" /></a>
                    <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">FAQ</a>
                    <a class="line-height-3 text-xl block cursor-pointer text-700">Blog</a>
                </div>

                <div class="col-12 md:col mt-4 md:mt-0">
                    <h4 class="font-medium text-2xl line-height-3 mb-3 text-900">Gallery</h4>
                    <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">Brand Policy</a>
                    <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">Privacy Policy</a>
                    <a class="line-height-3 text-xl block cursor-pointer text-700">Terms of Service</a>
                </div>

                <div class="col-12 md:col mt-4 md:mt-0">
                    <h4 class="font-medium text-2xl line-height-3 mb-3 text-900">Simulations</h4>
                    <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">Brand Policy</a>
                    <a class="line-height-3 text-xl block cursor-pointer mb-2 text-700">Privacy Policy</a>
                    <a class="line-height-3 text-xl block cursor-pointer text-700">Terms of Service</a>
                </div>
            </div>
        </div>
    </div>
    <div style="margin: 20px auto">
        <p-divider align="center" type="solid"></p-divider>

        <div class="flex justify-content-center">
            <i class="pi pi-instagram m-3" style="font-size: 1.3rem"></i>
            <i class="pi pi-facebook m-3" style="font-size: 1.3rem"></i>
            <i class="pi pi-youtube m-3" style="font-size: 1.3rem"></i>
        </div>
    </div>
</div>